{% extends 'base.html' %}

{% block content %}
    <h1>{{ room.name }}</h1>
    <p>{{ room.description }}</p>
    <p>Cost: {{ room.cost_per_hour }}$ per hour</p>

    <h2>Book this Room:</h2>
    <form method="post" id="booking-room-form">
        {% csrf_token %}
        <input type="hidden" name="room_id" value="{{ lesson.id }}">
        <button type="submit" id="booking-room-form">Create soft booking for this room</button>
    </form>

    {#   logic for book place AND seeing available hours #}
{% endblock %}
